<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.grim.railway_signal_inspection">

    <!--获取网络查看和使用权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取NFC使用权限-->
    <uses-permission android:name="android.permission.NFC" />
    <!--软件标签过滤表明需要有NFC支持-->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!--设置应用启动的单例模式Application类为SuperApplication，所有Activity基于此运行，以便全局操作网络-->
    <application
        android:name=".SuperApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--声明Activity页面-->
        <activity
            android:name="com.dev.grim.railway_signal_inspection.MainActivity"
            android:launchMode="singleTask">
            <!--作为APP启动主页面-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev.grim.railway_signal_inspection.SettingActivity"
            android:label="@string/setting_label"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.dev.grim.railway_signal_inspection.ScanActivity"
            android:label="@string/scan_label"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.dev.grim.railway_signal_inspection.BurnActivity"
            android:label="@string/burn_label"
            android:launchMode="singleTask"/>
        <activity android:name="com.dev.grim.railway_signal_inspection.SelectActivity"
            android:label="@string/select_label"
            android:launchMode="singleTask"/>
    </application>

</manifest>